<% include simpleheader %>

<% include navbar %>

<div class="center">
	<div id="ubox_profilepic">
		<img src="/images/<%- profilePic %>" height="50" width="50" border="0"/>
	</div>
	<div id="ubox_info">
		<b><%- name %></b> <br>
		<font color="gray"><a href="<<%- username %>>">@<%- username %></a> <br>
	</div>

	<div id="conversation">
		<hr>
		<%- origTweet %>
		<form method="post" action="/detailedTweetFakeReply">
		<center>
		<textarea name="replyTweet" rows="5" cols="60">@tim </textarea>
		</center>
		<input type="submit" value="Reply"/>
		</form>		
		<%- convo %>
	</div>
</div>

<% include footer %>
