<% include simpleheader %>

<% include navbar %>

<h1>Profile:</h1>
<hr/>
<div id="editInfo">
	<p>
		<font color="red"><%- msg %></font>
	</p>
	<form method="post" id="editProfileInfo" action="/<%= username %>/changeProfile">
		Name: <input type="text" name="name" value="<%- name %>" /><font color="red">*</font> <br>
		Username: <input type="text" name="username" value="<%- username %>" /><font color="red">*</font> <br>
		Email: <input type="text" name="email" value="<%- email %>" /><font color="red">*</font> <br>
		Location: <input type="text" name="location" value="<%- location %>" /> <br>
		Website: <input type="text" name="website" value="<%- website %>" /> <br>
		New Password: <input type="password" name="newpass" /> <br>
		Retype New Password: <input type="password" name="newpassconfirm" /> <br>
		<br>
		Current Password: <input type="password" name="currentpass" /><font color="red">*</font> <br>
		<br>
		<font color="red">* Required</font> <br>
		<input type="submit" name="submit" value="Submit" /> <br>
	</form>
</div>
<div id="editImg">
	<center>
	<img src="/images/<%- profilePic %>" height="200" width="200" border="0"/> <br>
	<form method="post" id="editProfilePic" action="/<%= username %>/changeProfilePic" enctype="multipart/form-data">
		Select new profile picture from computer: <input type="file" name="profilepic" accept="image/*" />
		<br><br>
		<input type="submit" name="submit" value="Change Profile Picture" />
	</form>
	</center>
</div>
<% include footer %>
