<% include header %>

<h1><%= title %></h1>
<h2><%= name %> <a href = "/<%= username %>/profile"> @<%= username %> </a></h2>

<%- content %>

<button onclick="deleteFollower()">deletefollower</button>
 <script type="text/javascript">
        function deleteFollower (a) {
        	//console.log("sadfasd");
        	//console.log(a);
            alert ("You clicked on the button!");
        }
    </script>

<p><b><%=name%></b> <a href="/<%=username%>/profile">@<%=username%></a><br>
	<button onclick="deleteFollower(this)">Delete</button></p>

<form  action="/<%=username%>/follower" method="post" id="Novinky" onsubmit="deleteFollower(<%=username%>)"> 
<%= name %> <a href = "/<%= username %>/profile"> @<%= username %> </a>
<input onclick="Delete(this)" value="Delete" name="delete[12]" type="submit" />
</form>

<% include footer %>