<% include header %>

<h1><%= title %></h1>
<p>Welcome <%= name %> @<%= username %></p>
<p><a href="follower">Follower: <%= followerN %> </a></p>
<p><a href="following">Following: <%= followingN %> </a> </p>


<% include footer %>