<% include simpleheader %>

<% include navbar %>

<h1>Search Result Page</h1>

<h3>Results for " <%- searchPhrase %> " </h3>
<script>
	document.write('<p><b> <%- rname %> </b> <a href="/ <%- rusername %> ">@ <%- rusername %> </a><br> <%- rmsg %> <br> <%- rdate %> </p>');
</script>


<% include footer %>